.button {
    background-color: var(--blue1);
    color: var(--white);
    border: none;
    width: 400px;
    height: 60px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
}
