.journalCard {
    padding: 32px;
        width: 280px;
        height: 280px;
        border-radius: 20px;
        background-color: blueviolet;
        color: var(--black);
            display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
}
.iconCircle {
        display: flex;
            align-items: center;
            justify-content: center;
            background: var(--black);
            padding: 5px;
            border-radius: 50%;
}
.iconCircle svg {
    fill: var(--white);
}
.journalInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.journalInfo span {
    font-size: 12px;
}
.journalParagraph{
    height: 170px;
    font-weight: 500;
    overflow: hidden;
}