.headingCircle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 32px;
    height: 32px;
    font-weight: bold;
    background-color: var(--blue2);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.taskHeading {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.taskHeading h4 {
    font-size: 24px;
    margin-left: 5px;
}
