.labelComponent {
    width: fit-content;
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    font-weight: normal;
    margin-right: 5px;
}