
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
}
* {
  font-family: 'Poppins', sans-serif !important;
  text-decoration: none;
  user-select: none;
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
 

  --bgColor: #F6F8FF;
  --black: #333;
  --gray: #777;
  --light-gray: #b9b9b9;
  --blue1: #0668E1;
  --blue2: #0080FB;
  --white: #fff;
}

